// IBM Plex Sans
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');

// All about the mixins
@mixin flex-container($direction,$align,$justify,$wrap){
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin button-component($bg-color,$text-color){
    background-color : $bg-color;
    color : $text-color;
}
@mixin container-width($cont-width){
    width: 100%;
    max-width: $cont-width;
    margin: 0 auto;
    padding: 50px 20px;
}

// Different Classes
.container-1000{
    @include container-width(1000px);
}
.container-1200{
    @include container-width(1200px);
}
.container-1400{
    @include container-width(1400px);
}

  // Colors
  $primary-dark: #12181b;
  $secondary-dark: #2a2e357e;
  $primary-white : #ffffff;
  $primary-gray : #b2becd;
  $primary-gray-border : #a9abb33a;

// Universal Styling
body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: $primary-dark;
}

// All about the theme
.greenyellow{
  background: linear-gradient(90deg, rgba(116,255,138,1) 0%, rgba(0,224,96,1) 100%);
}
.purple{
  background: linear-gradient(146deg, rgba(216,174,251,1) 0%, rgba(174,63,255,1) 100%);
}

  .header{
    background-color: $primary-dark;
    color: $primary-white;
    padding: 20px 0;
    border-bottom: 1px solid $primary-gray-border;
    position: relative;
    &::after{
      content: '🔥';
      position: absolute;
      font-size: 2rem;
      bottom: 0;
      text-align: center;
      transform: translate(0,50%);
      width: 100%;
    }
    
    >h2{
      text-align: center;
    }
  }


//Styling the contributorcontainer
.contributor__container{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-gap: 25px;
  place-content: center;

  @media screen and (max-width:985px){
    grid-template-columns: repeat(3,1fr);
  }
  @media screen and (max-width:720px){
    grid-template-columns: repeat(2,1fr);
  }
  @media screen and (max-width:500px){
    grid-template-columns: 1fr;
  }
}

//Styling the contribution Item
.contributor__item{
  margin: 0 auto;
  min-width: min-content;
  width: 100%;
  max-width: 320px;
  background-color: $secondary-dark;
  backdrop-filter: blur(400px);
  border: 1px solid $primary-gray-border;
  box-shadow: 2.5px 2.5px 30px 0px rgba(0, 0, 0, 0.082);
  border-radius: 20px;
  padding: 20px;
  text-align: center;

  #{&}--img{
    position: relative;
    height: 200px;
    width: 100%;
    border-radius: 20px;
    font-size: 3.5rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px $primary-dark;
    @include flex-container(row, center, center, wrap);
    // >img{
    //   border-radius: 20px;
    //   height: 100%;
    //   width: 100%;
    //   object-fit: cover;
    // }
  }

  #{&}--desc{
    >h2{
      color: $primary-white;
      padding:20px 15px 0;
      font-weight: 700;
      font-size: 1.25rem;
    }
    >p{
      color: $primary-gray;
      padding: 15px;
      font-size: 1.15rem;
      font-weight: 400;
    }
  }

  #{&}--social{
    @include flex-container(row, center, center, nowrap);
    border-top: 1px solid $primary-gray-border;
    a{
      margin: 10px;
      font-size: 1.05rem;
      padding: 5px 0 0;
      display: inline-block;
      svg{
        fill: $primary-gray;
        &:hover{
          fill: $primary-white;
        }
      }
    }
  }
}