// IBM Plex Sans
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;600;700&display=swap');

// All about the mixins
@mixin flex-container($direction,$align,$justify,$wrap){
    display: flex;
    flex-wrap: $wrap;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify;
}
@mixin button-component($bg-color,$text-color){
    background-color : $bg-color;
    color : $text-color;
}
@mixin container-width($cont-width){
    width: 100%;
    max-width: $cont-width;
    margin: 0 auto;
    padding: 35px 20px;
}

// Different Classes
.container-1000{
    @include container-width(1000px);
}
.container-1200{
    @include container-width(1200px);
}
.container-1400{
    @include container-width(1400px);
}

// Stuffs related to the fluid typography from the CSS tricks
@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
  }
  
@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
  
    @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
      & {
  
        font-size: $min-font-size;
        @media screen and (min-width: $min-vw) {
          font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
        }
  
        @media screen and (min-width: $max-vw) {
          font-size: $max-font-size;
        }
      }
    }
  }


  // Colors
  $primary-dark: #000000;
  $secondary-dark: #060707;
  $tertiary-dark: #151618;
  $primary-white : #eeeeff;
  $primary-gray : #666666;
  $primary-gray-border : #a9abb31f;

// Universal Styling
body{
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: $primary-dark;
}

  .header{
    background-color: $primary-dark;
    color: $primary-white;
    padding: 20px 0;
    border-bottom: 1px solid $primary-gray-border;

    >h2{
      text-align: center;
    }
  }


//Styling the contribution Item
.contributor__item{
  min-width: min-content;
  width: 100%;
  max-width: 290px;
  background-color: $secondary-dark;
  border: 1px solid $primary-gray-border;
  border-radius: 20px;
  padding: 20px;
  text-align: center;

  #{&}--img{
    >img{
      border-radius: 20px;
      height: 100%;
      width: 100%;
      object-fit: cover;
      // filter: grayscale(80%);
    }
  }

  #{&}--desc{
    >h2{
      color: $primary-white;
      padding:15px 15px 0;
      font-weight: 700;
    }
    >p{
      color: $primary-gray;
      padding: 15px;
      font-size: 1.15rem;
      font-weight: 400;
    }
  }

  #{&}--social{
    a{
      margin: 10px;
      padding: 5px 0;
      display: inline-block;
      color: $primary-gray;
      border-bottom: 1px solid $primary-gray;
      &:hover{
        color: $primary-white;
        border-bottom: 1px solid $primary-white;
      }
    }
  }
}